## Question 2

Euro Teams
Step 1. Import the necessary libraries
Step 2. Import the dataset from this address (https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/02_Filtering_%26_Sorting/Euro12/Euro_2012_stats_TEAM.csv)
Step 3. Assign it to a variable called euro12
Step 4. Select only the Goal column
Step 5. How many team participated in the Euro2012?
Step 6. What is the number of columns in the dataset?
Step 7. View only the columns Team, Yellow Cards and Red Cards and assign them
to a dataframe called discipline
Step 8. Sort the teams by Red Cards, then to Yellow Cards
Step 9. Calculate the mean Yellow Cards given per Team
Step 10. Filter teams that scored more than 6 goalsStep 11. Select the teams that start with G
Step 12. Select the first 7 columns
Step 13. Select all columns except the last 3
Step 14. Present only the Shooting Accuracy from England, Italy and Russia

In [1]:
import pandas as pd
from fractions import Fraction
url="https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/02_Filtering_%26_Sorting/Euro12/Euro_2012_stats_TEAM.csv"
euro12=pd.read_csv(url, error_bad_lines=False)
euro12['Goals']

C:\Users\Gourav Bhardwaj\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

0      4
1      4
2      4
3      5
4      3
5     10
6      5
7      6
8      2
9      2
10     6
11     1
12     5
13    12
14     5
15     2
Name: Goals, dtype: int64

###### How many team participated in the Euro2012 ?

In [2]:
print("Number of teams participated in Euro2012 :")
euro12['Team'].count()

Number of teams participated in Euro2012 :

16

###### What is the number of columns in the dataset?

In [3]:
print("No.of columns in the dataset is:")
len(euro12.columns)

No.of columns in the dataset is:

35

###### View only the columns Team, Yellow Cards and Red Cards and assign them to a dataframe called discipline

In [4]:
discipline= euro12[['Team','Yellow Cards','Red Cards']]
discipline

                   Team  Yellow Cards  Red Cards
0               Croatia             9          0
1        Czech Republic             7          0
2               Denmark             4          0
3               England             5          0
4                France             6          0
5               Germany             4          0
6                Greece             9          1
7                 Italy            16          0
8           Netherlands             5          0
9                Poland             7          1
10             Portugal            12          0
11  Republic of Ireland             6          1
12               Russia             6          0
13                Spain            11          0
14               Sweden             7          0
15              Ukraine             5          0

###### Sort the teams by Red Cards, then to Yellow Cards

In [5]:
euro12=euro12.sort_values(by=['Red Cards','Yellow Cards'])
euro12[['Team','Red Cards','Yellow Cards']]

                   Team  Red Cards  Yellow Cards
2               Denmark          0             4
5               Germany          0             4
3               England          0             5
8           Netherlands          0             5
15              Ukraine          0             5
4                France          0             6
12               Russia          0             6
1        Czech Republic          0             7
14               Sweden          0             7
0               Croatia          0             9
13                Spain          0            11
10             Portugal          0            12
7                 Italy          0            16
11  Republic of Ireland          1             6
9                Poland          1             7
6                Greece          1             9

###### Calculate the mean Yellow Cards given per Team

In [6]:
mean=euro12['Yellow Cards'].mean()
mean

7.4375

###### Filter teams that scored more than 6 goals

In [7]:
euro12['Team'][euro12.Goals >6]

5     Germany
13      Spain
Name: Team, dtype: object

###### Select the teams that start with G

In [8]:
euro12[['Team','Goals']][euro12.Team.str[0]=='G']

      Team  Goals
5  Germany     10
6   Greece      5

###### Select the first 7 columns

In [9]:
euro12.iloc[:5,:7]

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked)
2,Denmark,4,10,10,50.0%,20.0%,27
5,Germany,10,32,32,47.8%,15.6%,80
3,England,5,11,18,50.0%,17.2%,40
8,Netherlands,2,12,36,25.0%,4.1%,60
15,Ukraine,2,7,26,21.2%,6.0%,38

###### Select all columns except the last 3

In [10]:
euro12.iloc[:5,:-3]

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Clean Sheets,Blocks,Goals conceded,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,1,10,5,10,66.7%,25,38,8,4,0
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,1,11,6,10,62.6%,63,49,12,4,0
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,2,29,3,22,88.1%,43,45,6,5,0
8,Netherlands,2,12,36,25.0%,4.1%,60,2,0,0,...,0,9,5,12,70.6%,35,30,3,5,0
15,Ukraine,2,7,26,21.2%,6.0%,38,0,0,0,...,0,4,4,13,76.5%,48,31,4,5,0

###### Present only the Shooting Accuracy from England, Italy and Russia

In [11]:
euro12['Shooting Accuracy'][euro12.Team.str.contains('England|Italy|Russia',regex=True)]

3     50.0%
12    22.5%
7     43.0%
Name: Shooting Accuracy, dtype: object