## Question 3

Housing
Step 1. Import the necessary libraries
Step 2. Create 3 differents Series, each of length 100, as follows:
• The first a random number from 1 to 4
• The second a random number from 1 to 3
• The third a random number from 10,000 to 30,000
Step 3. Create a DataFrame by joinning the Series by column
Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter
Step 5. Create a one column DataFrame with the values of the 3 Series and assign it
to 'bigcolumn'
Step 6. Ops it seems it is going only until index 99. Is it true?
Step 7. Reindex the DataFrame so it goes from 0 to 299

In [1]:
import pandas as pd
import numpy as np
series = pd.Series(np.random.randint(1,5,size=100))
series1= pd.Series(np.random.randint(1,4,size=100))
series2= pd.Series(np.random.randint(10000,30001,size=100))
df=pd.concat([series,series1,series2],axis=1)

###### Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [2]:
df=df.rename(columns={0:'bedrs',1:'bathrs',2:'price_sqr_meter'})
df

    bedrs  bathrs  price_sqr_meter
0       2       2            14645
1       4       1            23945
2       4       1            19034
3       1       2            19526
4       3       1            25298
..    ...     ...              ...
95      1       1            27835
96      3       2            29864
97      1       3            18928
98      2       3            19160
99      2       3            15379

[100 rows x 3 columns]

###### Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [3]:
bigcolumn = pd.concat([df.bedrs,df.bathrs,df.price_sqr_meter])
bigcolumn

0         2
1         4
2         4
3         1
4         3
      ...
95    27835
96    29864
97    18928
98    19160
99    15379
Length: 300, dtype: int32

###### Ops it seems it is going only until index 99. Is it true?

Yes, the index is only going until 99. As we can see from the below output, three columns/series each with a length of 100 gives a resulting datafarme of length 300, but the index of it is like 0,..,99,0,..,99,0,..,99.

###### Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn' 

Reindex the DataFrame so it goes from 0 to 299

In [4]:
bigcolumn.head(101)

0     2
1     4
2     4
3     1
4     3
     ..
96    3
97    1
98    2
99    2
0     2
Length: 101, dtype: int32

In [5]:
index=np.arange(0,300)
index=pd.Series(index)
bigcolumn.index=index
bigcolumn.tail(10)

290    28751
291    22242
292    27986
293    22118
294    20116
295    27835
296    29864
297    18928
298    19160
299    15379
dtype: int32