## Question 5

Step 1. Import the necessary libraries
Step 2. Import the dataset from this address (https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv)
Step 3. Assign it to a variable called chipo.
Step 4. See the first 10 entries
Step 5. What is the number of observations in the dataset?
Step 6. What is the number of columns in the dataset?
Step 7. Print the name of all the columns.
Step 8. How is the dataset indexed?
Step 9. Which was the most-ordered item?
Step 10. For the most-ordered item, how many items were ordered?
Step 11. What was the most ordered item in the choice_description column?
Step 12. How many items were orderd in total?
Step 13.
• Turn the item price into a float
• Check the item price type
• Create a lambda function and change the type of item price
• Check the item price type
Step 14. How much was the revenue for the period in the dataset?
Step 15. How many orders were made in the period?
Step 16. What is the average revenue amount per order?
Step 17. How many different items are sold?

In [11]:
import pandas as pd
url="https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
chipo=pd.read_csv(url,sep='\t', error_bad_lines=False)
chipo.head(10)

C:\Users\Gourav Bhardwaj\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

###### What is the number of observations in the dataset?
What is the number of columns in the dataset?
Print the name of all the columns.

In [3]:
print(chipo.info())
chipo.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB
None

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

###### How is the dataset indexed?

In [4]:
chipo.iloc[0:,0:]

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

###### Which was the most-ordered item?
For the most-ordered item, how many items were ordered?

In [5]:
order=chipo.groupby(['item_name'])['quantity'].sum()
print(order.idxmax())
order.max()

Chicken Bowl

761

###### What was the most ordered item in the choice_description column?
How many items were orderd in total?

In [6]:
from collections import Counter
choice=chipo['choice_description']
choice=choice.dropna()
ls=choice.tolist()
item= Counter(ls)
i=item.most_common(1)[0][0]
print(i)
print(chipo['item_name'].count())

[Diet Coke]
4622

###### Turn the item price into a float
• Check the item price type
• Create a lambda function and change the type of item price
• Check the item price type

In [7]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [8]:
chipo['item_price'] = chipo['item_price'].apply(lambda x: x.lstrip('$'))
chipo['item_price']=chipo['item_price'].apply(lambda x: float(x) if isinstance(x, object) else x)
chipo.dtypes

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
dtype: object

###### How much was the revenue for the period in the dataset?
How many orders were made in the period?

In [9]:
revenue=chipo['item_price'].sum()
print("the amount of revenue for the period in the dataset is $"+str(revenue))
order_count=chipo.groupby(['order_id'])
print("the amount of orders for the period in the dataset is "+str(len(order_count)))

the amount of revenue for the period in the dataset is $34500.16
the amount of orders for the period in the dataset is 1834

###### What is the average revenue amount per order?
How many different items are sold?

In [10]:
sum_order=chipo.groupby(['order_id'])['item_price'].sum()
avg_order=sum_order.mean()
print("average revenue amount per order is $"+str(avg_order))
dist_item=chipo.groupby(['item_name']).count()
print("There are total of "+str(len(dist_item))+" different items sold")

average revenue amount per order is $18.81142857142869
There are total of 50 different items sold